.b-introduction {
    h1 { margin-bottom: 20px; }
    h2 { margin-bottom: 60px; }

    .e-robert {
        border-radius: 50%;
        overflow: hidden;
        width: 160px;
        height: 160px;
        background-image: url('../../static/img/articles/robert-hunja.jpg');
        background-size: cover;
        background-position: center;
        margin: 10px 40px 10px 60px;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
    }

    
}

.m-external {}
.m-internal {}

@media only screen and (min-width: 768px) {
.b-introduction {
    .e-robert {
        float: right;
    }

    p { margin-right: 180px; }
}

}