.progress-table {
    position: relative;
    height: auto;
    overflow: hidden;
}

.row {
    display: block;
    border-bottom: 1px solid $gray-10;
}

.row:nth-of-type(even) {
    background-color: $gray-03;
}

.m-active {
    max-height: 49px;
    overflow: hidden;
}

.content {
    flex: 1;
    position: relative;
}

.col {
    display: inline-block;
    width: 6%;
    padding: 15px 0;
    vertical-align: top;
}

.zebra {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100%;
    pointer-events: none;
    display: flex;

    .month:nth-child(odd) {
        background-color: $gray-03;
        height: 1500vh;
    }
}

.month,
.section,
.divider {
    font-weight: bold;
}

.main-header.main-header {
    background-color: $accent-color;
    color: white;
    font-weight: bold;
    text-transform: uppercase;

    .col:not(.name) {
        text-align: center;
    }
}

.phase > .header {
    background-color: $main-color;
    color: white;
}

.stage > .header {
    background-color: $main-color-20;
    color: $main-color;
    font-weight: bold;
}

.header {
    text-transform: uppercase;
    background-color: $accent-color-20;
    
}

.name {
    width: 22%;
    text-align: right;
    padding-right: 20px;
}

.row {
    display: flex;
}

.progress {
    position: absolute;
    left: 0;
    top: 0;
    background-color: $gray-10;
    

    .bar {
        position: absolute;
        background-color: green;
        opacity: .3;
    }
}

.header .progress {
    background-color: $gray-10;
    height: 49px;
    width: 100%;

    .bar {
        height: 100%;
        left: 0;
        top: 0;
    }
}

.task .progress {
    height: 10px;

    .bar {
        background-color: green;
        height: 100%;
    }
}