{% extends "base.html" %}
{% set article = data[2] %}
{% block content %}
<article class="b-content e-column">
    {% if article.cover_img_file %}
    <div class='e-cover-image' style='background-image: url("static/img/articles/{{article.cover_img_file}}");'></div>
    {% endif %}
    
    <h1>{{article.title}}</h1>
    <div class="e-meta">
        <p class="e-author">
            {% if article.submitted_by %}By: <strong>{{article.submitted_by}}</strong>{% endif %}
            {% if article.coauthor %}<span>and <strong>{{article.coauthor}}</strong></span>{% endif %}
        </p>
        <a href="{{article.original_post_url}}" class="e-button" target="_blank" title="Opens original post in a new window"><i class="fa fa-link"></i></a>
    </div>
    <div class="e-content">
        {{article.content}}
    </div>
    </article>
{% endblock %}
