<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
    <div class="progress-table">
        <div class="zebra">
            <div class="col name"></div>
            <div class="content">
                <div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div><div class="col month"></div>
            </div>
        </div>
        <div class="row main-header">
            <div class="col name">implementation plan</div>
            <div class="content">
                <div class="col month">jun</div><div class="col month">jul</div><div class="col month">aug</div><div class="col month">sep</div><div class="col month">oct</div><div class="col month">nov</div><div class="col month">dec</div><div class="col month">jan</div><div class="col month">feb</div><div class="col month">mar</div><div class="col month">apr</div><div class="col month">may</div><div class="col month">jun</div><div class="col month">jul</div><div class="col month">aug</div>
            </div>
        </div>
        {% for phase in data.phases %}
        <div class="phase">
            <div class="row header">
                <div class="col name">{{phase.name}}</div>
                <div class="col content"></div>
            </div>

            {% for stage in phase.stages %}
            <div class="stage">
                <div class="row header">
                <div class="col name">{{stage.name}}</div>
                    
                    <div class="col content stage-thumbs">
                        <!-- Still not sure about this Thumbnails -->
                        <div class="tasks-thumb">
                        {% for category in stage.categories %}
                            {% for task in category.tasks %}
                                <div class="task-thumb"  style="width: {{task.timespan}}%; left: {{task.left}}%;"></div>
                            {% endfor %}
                        {% endfor %}
                        </div>
                        <!-- Up until here -->

                        <div class="stage-progress">
                            <div class="bar" style="width: {{stage.progress}}%;">
                                <span>{{stage.progress}}<span>%</span></span>
                            </div>
                        </div>
                    </div>
                    <div class="control js-stage-collapse">
                        <i class="expand material-icons">add</i>
                        <i class="collapse material-icons">remove</i>
                    </div>

                </div>
            
                {% for category in stage.categories %}
                <div class="category items-{{category.length}}">
                    <div class="row header js-collapse">
                        <div class="col name">{{category.name}}</div>
                        <div class="col content category-thumbs">
                            <div class="tasks-thumb">
                            {% for task in category.tasks %}
                                <div class="task-thumb" style="width: {{task.timespan}}%; left: {{task.left}}%;"></div>
                            {% endfor %}
                            </div>
                            <div class="category-progress">
                                <div class="bar" style="width: {{category.progress}}%;">
                                <span>{{category.progress}}<span>%</span></span></div>
                            </div>
                        </div>
                        <div class="control js-category-collapse">
                            <i class="expand material-icons">add</i>
                            <i class="collapse material-icons">remove</i>
                        </div>
                    </div>

                    {% for task in category.tasks %}
                        <div class="row task responsible-{{task.responsible}}">
                            <div class="col name">{{task.name}}</div>
                            <div class="col content">
                                <div class="progress"  style="width: {{task.timespan}}%; left: {{task.left}}%;">
                                    <div class="bar" style="width: {{task.progress}}%;"></div>
                                </div>
                            </div>
                            {% if task.url %}<a class="link" href="./sample.html" target="_blank"><i class="material-icons">link</i></a>{% endif %}
                        </div>
                        
                            
                        
                    {% endfor %}
                </div>
            
                {% endfor %}
            
            {% endfor %}
        
        {% endfor %}
            
                </div>
            </div>
        </div>

    </div>






    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="static/js/scripts.js"></script>
</body>
</html>


{# phases:
    - name: "Part 1: Organizing for Delivery"
      stages:
        - name: Staff Skills claudio
          categories:
            - name: Enhance and Train Staff
              tasks:
                - id: 001
                  name: Integrated Operations Risk Management Forum
                  start_date: 6-1-2015 
                  end_date: 6-30-2015
                  progress: 46
                  relevance: 1
                  responsible: 1 #}