{% extends "base.html" %}
{% block content %}
<article class="b-content e-column b-introduction m-external">
    <h1>Website Title</h1>
    <h2>Introduction</h2>
    <div class="e-content">
        <p>Friends,</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ad voluptatibus culpa minima facilis nobis a, saepe, molestiae excepturi nulla, libero illum. Suscipit unde, dicta quos voluptatum ut corporis iusto!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ad voluptatibus culpa minima facilis nobis a, saepe, molestiae excepturi nulla, libero illum. Suscipit unde, dicta quos voluptatum ut corporis iusto!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ad voluptatibus culpa minima facilis nobis a, saepe, molestiae excepturi nulla, libero illum. Suscipit unde, dicta quos voluptatum ut corporis iusto!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente ad voluptatibus culpa minima facilis nobis a, saepe, molestiae excepturi nulla, libero illum. Suscipit unde, dicta quos voluptatum ut corporis iusto!</p>
    </div>
</article>
{% endblock %}
