<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
    <table>
        <thead>
            <th class="name">implementation plan</th>
            <th class="month">jun</th>
            <th class="month">jul</th>
            <th class="month">aug</th>
            <th class="month">sep</th>
            <th class="month">oct</th>
            <th class="month">nov</th>
            <th class="month">dec</th>
            <th class="month">jan</th>
            <th class="month">feb</th>
            <th class="month">mar</th>
            <th class="month">apr</th>
            <th class="month">may</th>
            <th class="month">jun</th>
            <th class="month">jul</th>
            <th class="month">aug</th>
        </thead>
        <tr class="divider">
            <td class="name">Part I: Organizing for Delivery</td>
        </tr>
        <tr class="section">
            <td class="name"></td>
        </tr>

    </table>
    <div id="overlay"></div>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="static/js/scripts.js"></script>
</body>
</html>
