* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #333; }

html,
body {
  height: 100%;
  width: 100%;
  overflow: auto; }

.b-layout {
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow; }

.e-column {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; }
  .e-column::-webkit-scrollbar {
    display: none; }

.b-content {
  padding-left: 80px;
  height: 100vh;
  overflow: scroll; }

.b-menu {
  position: absolute;
  z-index: 100;
  background-color: #eee;
  top: 0;
  bottom: 0;
  padding: 0;
  text-align: right;
  overflow: hidden;
  width: 85%;
  transform: translateX(-87%); }
  .b-menu .e-mobile-menu-trigger {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 12%; }
  .b-menu nav {
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.08);
    width: 100%;
    padding-bottom: 100px; }
  .b-menu .e-logo {
    background-color: #eee;
    margin: 0;
    width: 100%; }
  .b-menu.m-active {
    left: 0; }

nav a {
  display: block; }

nav a:hover {
  background-color: rgba(0, 0, 0, 0.2); }

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none; }
  #overlay.m-active {
    display: block; }

@media only screen and (min-width: 768px) {
  .b-content {
    margin-left: 30%; }
  .b-menu {
    width: 30%;
    transform: translateX(0); } }

.b-content {
  padding: 0;
  margin-left: 10%;
  padding-bottom: 100px; }
  .b-content h1,
  .b-content h2,
  .b-content h3,
  .b-content h4,
  .b-content .e-content > p,
  .b-content blockquote,
  .b-content li,
  .b-content img,
  .b-content caption,
  .b-content .e-meta {
    margin-left: 20px;
    margin-right: 20px; }
  .b-content ul, .b-content ol {
    padding: 0 0 0 20px; }
  .b-content h1 {
    font-family: 'andes_extralight', sans-serif;
    font-size: 24px;
    line-height: 1.4;
    color: red;
    margin-bottom: 15px; }
    .b-content h1 *:first-child {
      margin-top: 80px; }
  .b-content h2 {
    font-family: 'andes_bold', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: green;
    margin-bottom: 15px;
    margin-top: 35px; }
  .b-content .e-meta {
    margin-bottom: 40px; }
  .b-content .e-author {
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 40px; }
  .b-content .e-cover-image {
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
    height: 30%; }
  .b-content p,
  .b-content li {
    font-size: 16px;
    line-height: 1.75;
    font-weight: 200;
    margin-bottom: 20px; }
  .b-content img {
    width: calc(100% - 40px); }
  .b-content img:first-child {
    width: 100%;
    margin: 0 !important;
    max-height: 400px; }
  .b-content a {
    color: #523080;
    font-style: italic;
    text-decoration: none; }
  .b-content .e-image-caption {
    font-style: italic;
    color: rgba(0, 0, 0, 0.4); }
  .b-content .e-button {
    display: block;
    padding: 6px 9px;
    background-color: #523080;
    margin: 30px 0 10px;
    color: White;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    letter-spacing: .4px;
    border-radius: 50%;
    width: 32px;
    height: 32px; }
  .b-content blockquote {
    font-style: italic; }
    .b-content blockquote p {
      color: rgba(0, 0, 0, 0.6); }
      .b-content blockquote p:before,
      .b-content blockquote p:after {
        content: '"';
        color: rgba(0, 0, 0, 0.4); }
    .b-content blockquote cite strong {
      display: block;
      color: #523080; }
    .b-content blockquote cite em {
      color: rgba(0, 0, 0, 0.4);
      font-size: .8rem; }

.b-menu {
  background-color: #523080;
  text-align: right;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); }
  .b-menu .e-brand {
    background-color: #523080;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    font-weight: 100;
    font-size: 30px;
    color: white;
    padding: 35px 40px 25px; }
    .b-menu .e-brand .e-logo {
      background-color: transparent; }
    .b-menu .e-brand .e-site-name {
      font-size: 20px;
      font-weight: 200;
      margin: 0;
      font-family: 'andes_extralight', sans-serif;
      letter-spacing: .5px;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); }
    .b-menu .e-brand img {
      max-height: 12vh;
      max-width: 220px; }
  .b-menu nav {
    height: 85vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%; }
    .b-menu nav > *:first-child a {
      padding-top: 20px; }
    .b-menu nav h2 {
      color: #008793;
      font-family: 'andes_bold', sans-serif;
      font-size: 16px;
      font-weight: 100;
      text-transform: uppercase;
      padding: 20px 40px 10px;
      margin: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.1); }
    .b-menu nav h3 {
      font-weight: 300;
      font-size: 15px;
      line-height: 1.5;
      margin: 0; }
      .b-menu nav h3:first-child a {
        padding-bottom: 20px; }
      .b-menu nav h3 a {
        padding: 10px 40px; }
    .b-menu nav a {
      color: #fff;
      text-decoration: none;
      display: block;
      transition: all 0.3s ease; }
    .b-menu nav a:hover {
      background-color: rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;
      color: #fff; }

@media only screen and (min-width: 768px) {
  .b-content {
    padding: 0;
    margin-left: 30%;
    background-color: #FFF;
    padding-bottom: 100px; }
    .b-content h1,
    .b-content h2,
    .b-content h3,
    .b-content h4,
    .b-content .e-content > p,
    .b-content blockquote,
    .b-content li,
    .b-content img,
    .b-content caption,
    .b-content .e-meta {
      margin-left: 80px;
      margin-right: 80px; }
    .b-content h1 {
      font-family: 'andes_extralight', sans-serif;
      font-size: 42px;
      line-height: 1.4;
      color: #008793;
      margin-bottom: 15px; }
      .b-content h1 *:first-child {
        margin-top: 80px; }
    .b-content .e-meta {
      margin-bottom: 40px;
      display: flex;
      align-items: baseline; }
      .b-content .e-meta .e-author {
        flex: 1;
        margin: 0;
        font-style: italic; }
      .b-content .e-meta .e-button {
        padding: 7px 9px;
        margin: 0;
        font-size: 14px;
        color: #bbb;
        border: 1px solid #ddd;
        background-color: transparent;
        transition: all 0.2s ease;
        float: right; }
        .b-content .e-meta .e-button:hover {
          background-color: #523080;
          color: #fff;
          border-color: #523080;
          transition: all 0.2s ease; }
    .b-content .e-content > * {
      position: relative; }
    .b-content .e-content > p,
    .b-content .e-content li {
      font-size: 16px;
      line-height: 1.75;
      font-weight: 200; }
    .b-content .e-content .e-image-caption {
      font-size: .8rem;
      font-style: italic;
      color: rgba(0, 0, 0, 0.4); }
      .b-content .e-content .e-image-caption:hover {
        color: rgba(0, 0, 0, 0.6); }
    .b-content img {
      max-width: calc(100% - 160px); }
    .b-content .e-cover-image {
      height: 50%; }
    .b-content blockquote {
      padding: 10px 0; }
  .b-menu nav h2 {
    font-size: 15px; }
  .b-menu nav h3 {
    font-size: 14px; }
  .b-menu nav a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    display: block;
    transition: all 0.3s ease; }
  .b-menu nav a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    transition: all 0.3s ease; } }

.b-introduction h1 {
  margin-bottom: 20px; }

.b-introduction h2 {
  margin-bottom: 60px; }

.b-introduction .e-robert {
  border-radius: 50%;
  overflow: hidden;
  width: 160px;
  height: 160px;
  background-image: url("../../static/img/articles/robert-hunja.jpg");
  background-size: cover;
  background-position: center;
  margin: 10px 40px 10px 60px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); }

@media only screen and (min-width: 768px) {
  .b-introduction .e-robert {
    float: right; }
  .b-introduction p {
    margin-right: 180px; } }

@media only screen and (min-width: 768px) {
  .tweetable {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline;
    padding: 2px 4px;
    margin: -2px 0; }
    .tweetable:hover {
      background-color: rgba(82, 48, 128, 0.1); }
    .tweetable:before {
      content: '\f099';
      color: rgba(0, 0, 0, 0.1);
      position: absolute;
      padding: 5px 0 0;
      left: -30px;
      overflow: hidden;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      transition: all 0.2s ease;
      border-radius: 0; }
    .tweetable:hover:before {
      transition: all 0.2s ease;
      border-radius: 50% 0 0 50%;
      color: #523080; } }
