* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  color: #333;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.5; }

.progress-table {
  position: relative;
  height: auto;
  overflow: hidden; }

.row {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.row.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: -1px; }

.row:nth-of-type(even) {
  background-color: rgba(0, 0, 0, 0.03); }

.content {
  flex: 1;
  position: relative; }

.col {
  display: inline-block;
  width: 6%;
  padding: 15px 0;
  vertical-align: top; }

.zebra {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  pointer-events: none;
  display: flex; }
  .zebra .month:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.03);
    height: 1500vh; }

.month,
.section,
.divider {
  font-weight: bold; }

.main-header.main-header {
  background-color: #002d55;
  color: white;
  font-weight: bold;
  text-transform: uppercase; }
  .main-header.main-header .col:not(.name) {
    text-align: center; }

.phase > .header {
  background-color: #00aef0;
  color: white; }

.stage > .header {
  background-color: rgba(0, 174, 240, 0.2);
  color: #00aef0;
  font-weight: bold; }

.header {
  text-transform: uppercase;
  background-color: rgba(0, 45, 85, 0.2); }

.name {
  width: 25%;
  text-align: right;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden; }

.row {
  display: flex; }

.progress {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.1); }
  .progress .bar {
    position: absolute;
    background-color: green;
    opacity: .3; }

.task .progress {
  height: 10px;
  margin: 19px 0; }
  .task .progress .bar {
    background-color: green;
    height: 100%; }

.stage-thumbs,
.category-thumbs {
  position: relative; }

.tasks-thumb {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  opacity: 0; }

.task-thumb {
  position: relative;
  flex: 1;
  max-height: 10px;
  background-color: rgba(0, 0, 0, 0.05); }

.category-progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }
  .category-progress .bar {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%; }
    .category-progress .bar > span {
      position: absolute;
      left: 0;
      margin: 12px;
      font-size: 16px;
      display: inline-block; }
      .category-progress .bar > span > span {
        font-size: 0.7em; }

.stage-progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }
  .stage-progress .bar {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%; }
    .stage-progress .bar > span {
      position: absolute;
      left: 0;
      margin: 12px;
      font-size: 16px;
      display: inline-block;
      font-weight: normal; }
      .stage-progress .bar > span > span {
        font-size: 0.7em; }

.control {
  font-size: 20px;
  display: inline-block;
  margin: 11px 15px 0;
  cursor: pointer; }
  .control .expand {
    display: none; }

.stage.m-active .category {
  display: none; }
.stage.m-active .tasks-thumb {
  opacity: 1; }
.stage.m-active .control .collapse {
  display: none; }
.stage.m-active .control .expand {
  display: block; }

.category.m-active .task {
  display: none; }
.category.m-active .tasks-thumb {
  opacity: 1; }
.category.m-active .control .collapse {
  display: none; }
.category.m-active .control .expand {
  display: block; }

.responsible-1 .bar {
  background-color: red !important; }

.responsible-2 .bar {
  background-color: blue !important; }

.responsible-3 .bar {
  background-color: orange !important; }

body, html {
  height: 100%; }

/*# sourceMappingURL=styles.css.map */
